* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.header, .footer {
    height: 15vh;
    max-height: 15vh;
    width: 100vw;
    text-align: center;
    align-content: center;
    background-color: maroon;
    flex-basis: auto;
}

.header h2 {
    color: white;
    font-size: 1em;
}

.footer {
    background-color: rgb(32, 24, 24);
}

.footer h3 {
    color: white;
    font-size: 1em;
}

.library {
    height: 70vh;
    max-height: 70vh;
    width: 100vw;
    background-color: antiquewhite;
    padding: 1.25%;
    display: grid;
    gap: 3vw;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.book {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book h3 {
    height: 20%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
    flex-grow: 0;
    flex-basis: auto;
}

#addBook {
    width: 33vw;
    height: 33vh;
    position: relative;
    transform: translateY(2vh);
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    align-content: center;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}

#newBook {
    margin-top: 1%;
    width: 10%;
    height: 25%;
    border-radius: 45px;
    border: none;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#removeBtn {
    margin-top: 2.5%;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: red;
}

#readBtn {
    margin-top: 2.5%;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: blue;
}